
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #96BC33;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
  }
  
  .menu ul {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  .menu li {
    margin-left: 10px;
  }
  
  .menu-link {
    text-decoration: none;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  .menu-link:hover {
    text-decoration: underline;
  }